.field:hover .bat{
    transform: rotate(-40deg);
    transform-origin: top right ;
}
.bat{
    transition: transform .3s ease-in ;
}
.field{
    border: 1px solid ;
}
.ball{

    height: 50px;
    width: 50px;
    background-color: brown;
    border-radius: 25px;
    position: relative;
    left: 522px;
    transition: transform 1s ease-out .2s ;
}
.field:hover .ball{
     transform: translate(600px, -100px);
     
}